<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>imageName</key>
		<string>intro_screen_logo</string>
		<key>titleRef</key>
		<string>intro.tagline.one</string>
		<key>textRef</key>
		<string>intro.message.one</string>
		<key>bgStyle</key>
		<string>lightBlue</string>
		<key>titleFontStyle</key>
		<string>sharpBold.@35.TWBlue</string>
		<key>textFontStyle</key>
		<string>book.@20.corefont</string>
	</dict>
	<dict>
		<key>imageName</key>
		<string>intro_screen_logo</string>
		<key>titleRef</key>
		<string>intro.tagline.two</string>
		<key>textRef</key>
		<string>intro.message.two</string>
		<key>bgStyle</key>
		<string>twblue</string>
		<key>titleFontStyle</key>
		<string>sharpBold.@35.white</string>
		<key>textFontStyle</key>
		<string>book.@20.corefont</string>
	</dict>
	<dict>
		<key>imageName</key>
		<string>intro_screen_logo_white</string>
		<key>titleRef</key>
		<string>intro.tagline.three</string>
		<key>textRef</key>
		<string>intro.message.three</string>
		<key>bgStyle</key>
		<string>greenshadow</string>
		<key>titleFontStyle</key>
		<string>sharpBold.@35.TWBlue</string>
		<key>textFontStyle</key>
		<string>book.@20.white</string>
	</dict>
	<dict>
		<key>imageName</key>
		<string>intro_screen_logo</string>
		<key>titleRef</key>
		<string>intro.tagline.four</string>
		<key>textRef</key>
		<string>intro.message.four</string>
		<key>bgStyle</key>
		<string>TWElectricBlueDarker</string>
		<key>titleFontStyle</key>
		<string>sharpBold.@35.TWBlue</string>
		<key>textFontStyle</key>
		<string>book.@20.white</string>
	</dict>
</array>
</plist>
