<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>base</key>
	<dict>
		<key>appearance</key>
		<dict>
			<key>rounded</key>
			<dict>
				<key>class</key>
				<string>MOMRoundedCornerStyle</string>
				<key>radius</key>
				<integer>5</integer>
			</dict>
		</dict>
		<key>color</key>
		<dict>
			<key>white</key>
			<dict>
				<key>color</key>
				<string>ffffff</string>
			</dict>
			<key>darkText</key>
			<dict>
				<key>color</key>
				<string>1e2022</string>
			</dict>
			<key>lightText</key>
			<dict>
				<key>color</key>
				<string>8da7ae</string>
			</dict>
			<key>lightGray</key>
			<dict>
				<key>color</key>
				<string>e3e7e8</string>
			</dict>
			<key>darkBlue</key>
			<dict>
				<key>color</key>
				<string>1f2736</string>
			</dict>
			<key>darkBlueHighlighted</key>
			<dict>
				<key>color</key>
				<string>314368</string>
			</dict>
			<key>tabBarBlue</key>
			<dict>
				<key>color</key>
				<string>212e4b</string>
			</dict>
			<key>navBarBlue</key>
			<dict>
				<key>color</key>
				<string>537c9b</string>
			</dict>
			<key>lightBlue</key>
			<dict>
				<key>color</key>
				<string>324266</string>
			</dict>
			<key>lightBlueHighlighted</key>
			<dict>
				<key>color</key>
				<string>465983</string>
			</dict>
			<key>alpha1</key>
			<dict>
				<key>alpha</key>
				<real>0.08</real>
			</dict>
		</dict>
		<key>font</key>
		<dict>
			<key>P</key>
			<dict>
				<key>fontSize</key>
				<integer>15</integer>
				<key>fontName</key>
				<string>Avenir-Medium</string>
				<key>color</key>
				<string>1e2022</string>
			</dict>
			<key>H2</key>
			<dict>
				<key>fontSize</key>
				<integer>18</integer>
				<key>fontName</key>
				<string>Avenir-Light</string>
				<key>color</key>
				<string>ffffff</string>
			</dict>
			<key>H3</key>
			<dict>
				<key>fontSize</key>
				<integer>15</integer>
				<key>fontName</key>
				<string>Avenir-Heavy</string>
				<key>color</key>
				<string>1e2022</string>
			</dict>
			<key>smallText</key>
			<dict>
				<key>fontSize</key>
				<integer>10</integer>
				<key>fontName</key>
				<string>Avenir-Medium</string>
				<key>color</key>
				<string>ffffff</string>
			</dict>
		</dict>
	</dict>
	<key>compound</key>
	<dict>
		<key>button</key>
		<dict>
			<key>highlightedFontStyle</key>
			<string>P.link</string>
			<key>fontStyle</key>
			<string>P.blackShadow</string>
			<key>highlightedBgStyle</key>
			<string>panel1.alpha1</string>
			<key>bgStyle</key>
			<string>panel2</string>
			<key>appearanceStyle</key>
			<string>rounded</string>
		</dict>
	</dict>
</dict>
</plist>
