<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>base</key>
	<dict>
		<key>appearance</key>
		<dict>
			<key>rounded</key>
			<dict>
				<key>class</key>
				<string>MOMRoundedCornerStyle</string>
				<key>radius</key>
				<integer>20</integer>
			</dict>
		</dict>
		<key>color</key>
		<dict>
			<key>alpha1</key>
			<dict>
				<key>alpha</key>
				<real>0.08</real>
			</dict>
			<key>alpha2</key>
			<dict>
				<key>alpha</key>
				<real>0.95</real>
			</dict>
			<key>alpha3</key>
			<dict>
				<key>alpha</key>
				<real>0.97</real>
			</dict>
			<key>alpha4</key>
			<dict>
				<key>alpha</key>
				<real>0.5</real>
			</dict>
			<key>CoreFont</key>
			<dict>
				<key>color</key>
				<string>84a2b0</string>
			</dict>
			<key>GreyGory</key>
			<dict>
				<key>color</key>
				<string>aab0b2</string>
			</dict>
			<key>DarkFont</key>
			<dict>
				<key>color</key>
				<string>363d4e</string>
			</dict>
			<key>Green</key>
			<dict>
				<key>color</key>
				<string>85b319</string>
			</dict>
			<key>GreenHighlighted</key>
			<dict>
				<key>color</key>
				<string>88b71a</string>
			</dict>
			<key>GreenShadow</key>
			<dict>
				<key>color</key>
				<string>64960d</string>
			</dict>
			<key>LightBlue</key>
			<dict>
				<key>color</key>
				<string>e0e9ee</string>
			</dict>
			<key>LightBlueHighlighted</key>
			<dict>
				<key>color</key>
				<string>f5f7f9</string>
			</dict>
			<key>Red</key>
			<dict>
				<key>color</key>
				<string>df4a32</string>
			</dict>
			<key>RedHighlighted</key>
			<dict>
				<key>color</key>
				<string>e9523a</string>
			</dict>
			<key>RedShadow</key>
			<dict>
				<key>color</key>
				<string>ae2e46</string>
			</dict>
			<key>SeparatorGrey</key>
			<dict>
				<key>color</key>
				<string>d5dbde</string>
			</dict>
			<key>TWBlue</key>
			<dict>
				<key>color</key>
				<string>232f49</string>
			</dict>
			<key>TWElectricblue</key>
			<dict>
				<key>color</key>
				<string>29b2e0</string>
			</dict>
			<key>TWBlueHighlighted</key>
			<dict>
				<key>color</key>
				<string>354464</string>
			</dict>
			<key>White</key>
			<dict>
				<key>color</key>
				<string>ffffff</string>
			</dict>
			<key>Yahoo</key>
			<dict>
				<key>color</key>
				<string>6f399a</string>
			</dict>
			<key>YahooHighlighted</key>
			<dict>
				<key>color</key>
				<string>7a42a6</string>
			</dict>
			<key>YahooShadow</key>
			<dict>
				<key>color</key>
				<string>5e3081</string>
			</dict>
		</dict>
		<key>font</key>
		<dict>
			<key>heavy</key>
			<dict>
				<key>fontName</key>
				<string>Avenir-Heavy</string>
				<key>fontSize</key>
				<integer>15</integer>
				<key>color</key>
				<string>84a2b0</string>
			</dict>
			<key>medium</key>
			<dict>
				<key>fontName</key>
				<string>Avenir-Medium</string>
				<key>fontSize</key>
				<integer>15</integer>
				<key>color</key>
				<string>84a2b0</string>
			</dict>
			<key>light</key>
			<dict>
				<key>fontName</key>
				<string>Avenir-Light</string>
				<key>fontSize</key>
				<integer>15</integer>
				<key>color</key>
				<string>84a2b0</string>
			</dict>
			<key>book</key>
			<dict>
				<key>fontName</key>
				<string>Avenir-Book</string>
				<key>fontSize</key>
				<integer>15</integer>
				<key>color</key>
				<string>84a2b0</string>
			</dict>
		</dict>
	</dict>
	<key>compound</key>
	<dict>
		<key>sendButton</key>
		<dict>
			<key>fontStyle</key>
			<string>medium.@{17,19}.white</string>
			<key>highlightedBgStyle</key>
			<string>TWblue.alpha2</string>
			<key>bgStyle</key>
			<string>TWBlue</string>
		</dict>
		<key>getButton</key>
		<dict>
			<key>fontStyle</key>
			<string>medium.@{17,19}.white</string>
			<key>highlightedBgStyle</key>
			<string>TWBlueHighlighted.alpha2</string>
			<key>bgStyle</key>
			<string>TWBlueHighlighted</string>
		</dict>
		<key>greenButton</key>
		<dict>
			<key>fontStyle</key>
			<string>medium.@{17,19}.white</string>
			<key>highlightedBgStyle</key>
			<string>GreenHighlighted</string>
			<key>bgStyle</key>
			<string>Green</string>
		</dict>
		<key>blueButton</key>
		<dict>
			<key>fontStyle</key>
			<string>medium.@{17,19}.white</string>
			<key>highlightedBgStyle</key>
			<string>TWBlueHighlighted.alpha2</string>
			<key>bgStyle</key>
			<string>TWBlue.alpha2</string>
		</dict>
		<key>lightBlueButton</key>
		<dict>
			<key>fontStyle</key>
			<string>medium.@{17,19}.CoreFont</string>
			<key>highlightedBgStyle</key>
			<string>LightBlueHighlighted</string>
			<key>bgStyle</key>
			<string>LightBlueHighlighted</string>
		</dict>
		<key>redGradientButton</key>
		<dict>
			<key>fontStyle</key>
			<string>medium.@{14,17}.white</string>
		</dict>
		<key>redButton</key>
		<dict>
			<key>fontStyle</key>
			<string>medium.@{17,19}.white</string>
			<key>highlightedBgStyle</key>
			<string>RedHighlighted</string>
			<key>bgStyle</key>
			<string>Red</string>
		</dict>
		<key>yahooButton</key>
		<dict>
			<key>fontStyle</key>
			<string>medium.@{17,19}.white</string>
			<key>highlightedBgStyle</key>
			<string>YahooHighlighted</string>
			<key>bgStyle</key>
			<string>Yahoo</string>
		</dict>
	</dict>
</dict>
</plist>
