<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>base</key>
	<dict>
		<key>appearance</key>
		<dict>
			<key>rounded</key>
			<dict>
				<key>class</key>
				<string>MOMRoundedCornerStyle</string>
				<key>radius</key>
				<integer>5</integer>
			</dict>
		</dict>
		<key>color</key>
		<dict>
			<key>alpha1</key>
			<dict>
				<key>alpha</key>
				<real>0.08</real>
			</dict>
			<key>alpha2</key>
			<dict>
				<key>alpha</key>
				<real>0.95</real>
			</dict>
			<key>alpha3</key>
			<dict>
				<key>alpha</key>
				<real>0.97</real>
			</dict>
			<key>blue</key>
			<dict>
				<key>color</key>
				<string>e0e9ee</string>
			</dict>
			<key>cellSelected</key>
			<dict>
				<key>color</key>
				<string>f5f7f9</string>
			</dict>
			<key>darkBlue</key>
			<dict>
				<key>color</key>
				<string>1f2736</string>
			</dict>
			<key>darkBlue2</key>
			<dict>
				<key>color</key>
				<string>1e2a44</string>
			</dict>
			<key>darkBlueHighlighted</key>
			<dict>
				<key>color</key>
				<string>314368</string>
			</dict>
			<key>darkText</key>
			<dict>
				<key>color</key>
				<string>1e2022</string>
			</dict>
			<key>green</key>
			<dict>
				<key>color</key>
				<string>83b019</string>
			</dict>
			<key>highlightBlue</key>
			<dict>
				<key>color</key>
				<string>606b81</string>
			</dict>
			<key>darkGray</key>
			<dict>
				<key>color</key>
				<string>393f45</string>
			</dict>
			<key>lightBlue</key>
			<dict>
				<key>color</key>
				<string>324266</string>
			</dict>
			<key>lightBlueHighlighted</key>
			<dict>
				<key>color</key>
				<string>465983</string>
			</dict>
			<key>lightBlue2</key>
			<dict>
				<key>color</key>
				<string>8baab9</string>
			</dict>
			<key>lightBlue3</key>
			<dict>
				<key>color</key>
				<string>232f49</string>
			</dict>
			<key>lightGray</key>
			<dict>
				<key>color</key>
				<string>e3e7e8</string>
			</dict>
			<key>lighterGray</key>
			<dict>
				<key>color</key>
				<string>aeb0b1</string>
			</dict>
			<key>lightText</key>
			<dict>
				<key>color</key>
				<string>8da7ae</string>
			</dict>
			<key>navBarBlue</key>
			<dict>
				<key>color</key>
				<string>537c9b</string>
			</dict>
			<key>lighterBlue</key>
			<dict>
				<key>color</key>
				<string>8baab9</string>
			</dict>
			<key>paleBlue</key>
			<dict>
				<key>color</key>
				<string>dee9ed</string>
			</dict>
			<key>paleBlue2</key>
			<dict>
				<key>color</key>
				<string>848da0</string>
			</dict>
			<key>tabBarBlue</key>
			<dict>
				<key>color</key>
				<string>212e4b</string>
			</dict>
			<key>white</key>
			<dict>
				<key>color</key>
				<string>ffffff</string>
			</dict>
			<key>white2</key>
			<dict>
				<key>color</key>
				<string>f7f9fb</string>
			</dict>
		</dict>
		<key>font</key>
		<dict>
			<key>heavy</key>
			<dict>
				<key>fontName</key>
				<string>Avenir-Heavy</string>
			</dict>
			<key>medium</key>
			<dict>
				<key>fontName</key>
				<string>Avenir-Medium</string>
			</dict>
			<key>light</key>
			<dict>
				<key>fontName</key>
				<string>Avenir-Light</string>
			</dict>
			<key>book</key>
			<dict>
				<key>fontName</key>
				<string>Avenir-Book</string>
			</dict>
			<key>P</key>
			<dict>
				<key>fontSize</key>
				<integer>15</integer>
				<key>fontName</key>
				<string>Avenir-Medium</string>
				<key>color</key>
				<string>1e2022</string>
			</dict>
			<key>H1</key>
			<dict>
				<key>fontSize</key>
				<integer>26</integer>
				<key>fontName</key>
				<string>Avenir-Medium</string>
				<key>color</key>
				<string>1e2022</string>
			</dict>
			<key>H2</key>
			<dict>
				<key>fontSize</key>
				<integer>18</integer>
				<key>fontName</key>
				<string>Avenir-Light</string>
				<key>color</key>
				<string>ffffff</string>
			</dict>
			<key>H3</key>
			<dict>
				<key>fontSize</key>
				<integer>15</integer>
				<key>fontName</key>
				<string>Avenir-Heavy</string>
				<key>color</key>
				<string>1e2022</string>
			</dict>
			<key>H4</key>
			<dict>
				<key>fontSize</key>
				<integer>20</integer>
				<key>fontName</key>
				<string>Avenir-Medium</string>
				<key>color</key>
				<string>ffffff</string>
			</dict>
			<key>H4Bold</key>
			<dict>
				<key>fontSize</key>
				<integer>20</integer>
				<key>fontName</key>
				<string>Avenir-Heavy</string>
				<key>color</key>
				<string>8baab9</string>
			</dict>
			<key>H5</key>
			<dict>
				<key>fontSize</key>
				<integer>16</integer>
				<key>fontName</key>
				<string>Avenir-Light</string>
				<key>color</key>
				<string>ffffff</string>
			</dict>
			<key>H5Pressed</key>
			<dict>
				<key>fontSize</key>
				<integer>17</integer>
				<key>fontName</key>
				<string>Avenir-Light</string>
				<key>color</key>
				<string>606b81</string>
			</dict>
			<key>largeText</key>
			<dict>
				<key>fontSize</key>
				<integer>20</integer>
				<key>fontName</key>
				<string>Avenir-Book</string>
				<key>color</key>
				<string>ffffff</string>
			</dict>
			<key>smallText</key>
			<dict>
				<key>fontSize</key>
				<integer>10</integer>
				<key>fontName</key>
				<string>Avenir-Medium</string>
				<key>color</key>
				<string>ffffff</string>
			</dict>
			<key>link</key>
			<dict>
				<key>fontSize</key>
				<integer>14</integer>
				<key>fontName</key>
				<string>Avenir-Heavy</string>
				<key>color</key>
				<string>5c86a6</string>
			</dict>
		</dict>
	</dict>
	<key>compound</key>
	<dict>
		<key>sendButton</key>
		<dict>
			<key>fontStyle</key>
			<string>H4</string>
			<key>highlightedBgStyle</key>
			<string>tabBarBlue.alpha2</string>
			<key>bgStyle</key>
			<string>tabBarBlue</string>
		</dict>
		<key>getButton</key>
		<dict>
			<key>fontStyle</key>
			<string>H4</string>
			<key>highlightedBgStyle</key>
			<string>lightBlue.alpha2</string>
			<key>bgStyle</key>
			<string>lightBlue</string>
		</dict>
		<key>greenButton</key>
		<dict>
			<key>fontStyle</key>
			<string>H4</string>
			<key>highlightedBgStyle</key>
			<string>green.alpha2</string>
			<key>bgStyle</key>
			<string>green</string>
		</dict>
	</dict>
</dict>
</plist>
